{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "no-undef": "off",
    "vue/multi-word-component-names": "off",
    "vue/component-name-in-template-casing": ["error", "PascalCase"],
    "vue/require-prop-types": "off",
    "vue/no-v-html": "off",
    "prettier/prettier": ["error", { "singleQuote": false }]
  }
}